@import url('https://fonts.googleapis.com/css?family=Roboto:100,400');

$blue-dark:        #1E384C;
$blue:             #2C7FBE;
$blue-light:       #32BAFA;
$green:            #02C39A;

$stage-bg:           $blue-dark;